<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>To do list</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://unpkg.com/element-ui/lib/theme-chalk/index.css'>
    <link rel="stylesheet" href="css/style.css">


  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" defer></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Kanit|Mitr" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
<!--nav bar-->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3c2e3d;">
    <a class="navbar-brand" href="#">IA FSci</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Program
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="exchange.html">Exchange</a>
            <a class="dropdown-item" href="internship.html">Internship</a>
            <a class="dropdown-item" href="short.html">Short-program</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Club
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="aboutclub.html">About Club</a>
            <a class="dropdown-item" href="clubregist.html">Register</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About Us
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="contact.html">Contact</a>
            <a class="dropdown-item" href="aboutus.html">About Us</a>
          </div>
        </li>
        </ul>
        <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <form class="form-inline">
         <button class="btn btn-outline-success btnsignin" type="button" onclick="window.location.href='signin.html'">Sign In</button>
      </li>
      </ul>
    </div>
  </nav>
<!-- ************************************************************************************************  -->


<!--หน้าย่อย -->
  <div id="app">
  <div id="content">
    <div class="list isAlwaysTop" v-if="!showAddList && showInputTop" @click="showAddList=true">
      <div class="list-add">
        <i class="el-icon-plus"></i>
        <a class="input-main">Add Program</a>
      </div>   
    </div>
    <div class="list isAlwaysTop" v-if="showAddList">
      <div class="list-head">
        <input id="checkBox" type="checkbox">
        <input autofocus type="text" v-model="nowList.University" class="txt-main input-main" placeholder="Name of University...">
            <i @click="showAddList=false" :class="{isEdit: showAddList}" class="el-icon-edit"></i> 
      </div> 

     
      
      <div class="list-detail">
        <div class="list-input">
          <a><i class="el-icon-date"></i>Deadline</a>
          <input  v-model="nowList.tTime" type="Date" format="yyyy/MM/dd" placeholder="Choose the datetime">
        </div>


         <div class="list-input">
          <a><i class="el-icon-more"></i>Country</a>
          <input autofocus type="text" class="input-text" v-model="nowList.country"  placeholder="Name of country..."></input>
      </div>

      <div class="list-input">
          <a><i class="el-icon-more"></i>Level of study</a>
          <input autofocus type="text" class="input-text" v-model="nowList.level"  placeholder="Level of study..."></input>
        </div>
        <div class="list-input">
          <a><i class="el-icon-document"></i>File</a>
          <div class="file-content">
            <p class="file-name" v-if="nowList.fileList.length > 0">{{nowList.fileList}}</p>
            <label for="file-upload" class="custom-file-upload">
              <i class="el-icon-plus"></i>
            </label>
            <input type="file" id="file-upload" @change="handleChange()" ref="fileInput">
          </div>
          
        </div>
        <div class="list-input">
          <a><i class="el-icon-more"></i>Description</a>
          <textarea class="input-textarea" v-model="nowList.description"  placeholder="Descript here..."></textarea>
        </div>
        <div class="btn-group buttongroup">
          <button @click="goCancel()" class="btn btn-cancel bt"><i class="el-icon-close"></i>Cancel</button>
        <button :disabled="nowList.University==''" @click="goAddTask(nowList.University, nowList.tTime, nowList.country, nowList.level, nowList.fileList, nowList.description)" class="btn btn-default bt"><i class="el-icon-plus"></i>Add Task</button>
        </div>

      </div>

    </div>
    <div  class="list" v-for="(programlist, index) in filterLists" :class="{ isStar: programlist.myStar, isEnd: programlist.status  }">
<!--       <pre>{{programlist}}</pre> -->
      <div class="list-head" :class="{ done: programlist.status}">
        <input :id="'checkBox' + index" type="checkbox" v-model="programlist.status">
        <input type="text" :disabled="nowClickNum != index" class="txt-main input-main" :placeholder="programlist.University" v-model="programlist.University">
            <i @click="isStar(index)" :class="[programlist.myStar ? 'el-icon-star-on' : 'el-icon-star-off']"></i>
            <i @click="(nowClickNum == index)? nowClickNum = -1:nowClickNum = index" class="el-icon-edit" :class="{isEdit: nowClickNum == index}"></i> 
        <div class="list-shorcut" v-if="!programlist.status">
          
          <span v-if="programlist.tTime">
            <i class="el-icon-date "></i>{{myDate(programlist.tTime)}}
          </span>
          <i v-if="programlist.country" class="el-icon-more"></i>
          <i v-if="programlist.level" class="el-icon-more"></i>
          <i v-if="programlist.fileList.length > 0" class="el-icon-document"></i>
          <i v-if="programlist.description" class="el-icon-more"></i>
        </div>
      </div> 


      <transition name="fade">
      <div class="list-detail" v-if="nowClickNum == index">
        <div class="list-input">
          <a><i class="el-icon-date"></i>Deadline</a>
          <input
            v-model="programlist.tTime"
            type="Date"
            format="yyyy/MM/dd"
            value-format="yyyy/MM/dd">
        </div>


      <div class="list-input">
          <a><i class="el-icon-more"></i>Country</a>
          <input autofocus type="text" class="input-text" v-model="nowList.country"  placeholder="Name of country...">
      </div>

      <div class="list-input">
          <a><i class="el-icon-more"></i>Level of study</a>
          <input autofocus type="text" class="input-text" v-model="nowList.level"  placeholder="Level of study...">
      </div>

          
        
        <div class="list-input">
          <a><i class="el-icon-document"></i>File</a>
          <div class="file-content">
            <p class="file-name" v-if="programlist.fileList">{{programlist.fileList}}</p>
            <label :for="'file-upload'+index" class="custom-file-upload">
              <i class="el-icon-plus"></i>
            </label>
            <input type="file" :id="'file-upload'+index" @change="handleChange(index)" :ref="'fileInput'+index">
          </div>
        </div>
        <div class="list-input">
          <a><i class="el-icon-more"></i>Description</a>
          <textarea class="input-textarea" v-model="programlist.description"  placeholder="Descript here..."></textarea>
        </div>
        <div class="btn-group buttongroup">
          <button @click="goCancel(index)" class="btn btn-cancel bt"><i class="el-icon-close"></i>Cancel</button>
        <button @click="goEdit(index, programlist.University, programlist.tTime, programlist.country, programlist.level, programlist.fileList, programlist.description)" class="btn btn-default bt"><i class="el-icon-plus"></i>Save</button>
        </div>

      </div>
      </transition>
    </div>
  </div>
</div>
  <script src='https://unpkg.com/vue/dist/vue.js'></script>
  <script src='https://unpkg.com/element-ui/lib/index.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
